<!--
MEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEELE
MEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEELE
ME                                        LE
ME     MMMMMMMMM            MMMMMMMMM     LE
ME     MMMMMMMMMM          MMMMMMMMMM     LE
ME     MMMMMMMMMMM        MMMMMMMMMMM     LE
ME     MMMMMMMMMMMM      MMMMMMMMMMMM     LE
ME     MMMMMMMM MMMM    MMMM MMMMMMMM     LE
ME     MMMMMMMM  MMMM  MMMM  MMMMMMMM     LE
ME     MMMMMMMM   MMMMMMMM   MMMMMMMM     LE
ME     MMMMMMMM    MMMMMM    MMMMMMMM     LE
ME     MMMMMMMM              MMMMMMMM     LE
ME     MMMMMMMM              MMMMMMMM     LE
ME     MMMMMMMM              MMMMMMMM     LE
ME     MMMMMMMM              MMMMMMMM     LE
ME     MMMMMMMM              MMMMMMMM     LE
ME                                        LE
ME     Mele13                             LE
ME                                        LE
MEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEELE
MEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEELE
-->
<div class="bottom-buttons">
    <a href="#">Head</a>
    <p class="footer-button" onclick="showOrHideItem('footer-content')" style="font-weight: bold;">Footer</p>
</div>    

<section id="footer-content">
    <div class="footer-title">
        <h2>Welcome!</h2>
        <h3 onclick="showOrHideItem('footer-content')" class="close-footer">x</h3>
    </div>

    <div class="footer-description">
        <div class="about">
            <h3>About us</h3>
            <p>Easy Life pretends to build a friendly community in which lifehacks are shared. Lifehacks are strategies or 
                techniques that one adopts in order to manage one’s time or task in a more efficient way. Sign up to start 
                sharing your own piece of advice!
            </p>
        </div>
    
        <div class="contact">
            <h3>Contact</h3>
            <p>You can contact our team by writing to the following email. Don’t forget to add a ‘concept’.
                <br>support@easylife.com
            </p>
        </div>
    
        <div class="rules">
            <h3>Rules</h3>
            <p>We created this rules so that we can help each other foster and protect the community. By using Easy Life you 
                accept these rules. We are committed to complying with these rules and we expect you to do so. Failure to comply 
                with these rules may result in content removal, account deactivation, or any other restriction.
                <br>Every user has the right to post and comment topics. This extends not only lifehacks but forum sections.
                <br>Easy Life administrators have the right to edit and eliminate content if this is inappropiate or doesn’t 
                ressemble with the web’s objective.
            </p>
        </div>

        <div class="designed-by">© Designed by Mele13</div>
    </div>        
</section>
    