/*
MEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEELE
MEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEELE
ME                                        LE
ME     MMMMMMMMM            MMMMMMMMM     LE
ME     MMMMMMMMMM          MMMMMMMMMM     LE
ME     MMMMMMMMMMM        MMMMMMMMMMM     LE
ME     MMMMMMMMMMMM      MMMMMMMMMMMM     LE
ME     MMMMMMMM MMMM    MMMM MMMMMMMM     LE
ME     MMMMMMMM  MMMM  MMMM  MMMMMMMM     LE
ME     MMMMMMMM   MMMMMMMM   MMMMMMMM     LE
ME     MMMMMMMM    MMMMMM    MMMMMMMM     LE
ME     MMMMMMMM              MMMMMMMM     LE
ME     MMMMMMMM              MMMMMMMM     LE
ME     MMMMMMMM              MMMMMMMM     LE
ME     MMMMMMMM              MMMMMMMM     LE
ME     MMMMMMMM              MMMMMMMM     LE
ME                                        LE
ME     Mele13                             LE
ME                                        LE
MEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEELE
MEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEELE
*/
:root {
  --background-color: #F7EDE2;
  --lifehack-background: #F28482;
  --text-and-background-color: #FFFFFF;
  --link-color: #121212;
}

body {
  background-color: var(--background-color);
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

/* General cases */
a {
  text-decoration: none;
  color: var(--link-color);
  font-weight: bold;
}

h5 {
  color: var(--text-and-background-color);
}

/* End of cases */
/* Start of lifehack-header */
section.lifehack-header {
  height: 17vh;
  background-color: var(--lifehack-background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.lifehack-header h3 {
  font-size: 2.2rem;
  display: inline;
  margin-left: 2%;
  width: 93%;
}

section.lifehack-header h5 {
  margin-top: -3%;
  margin-left: 2%;
  font-weight: lighter;
  font-size: 1.2rem;
}

/* End of lifehack-header */
/* Start of forum-info */
section.forum-info {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

section.forum-info .top-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
  margin-top: 1%;
  height: 7%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

section.forum-info .top-buttons a {
  margin-inline: 2%;
}

/* End of forum-info */
/* Start of responsive design */
@media screen and (max-width: 599px) {
  section.lifehack-header h3 {
    width: 80%;
    font-size: 1.6rem;
  }
  section.lifehack-header h5 {
    margin-top: -8%;
    font-size: 0.8rem;
  }
  section.forum-info .top-buttons {
    font-size: 1rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
  section.lifehack-header h3 {
    width: 80%;
    font-size: 1.6rem;
  }
  section.lifehack-header h5 {
    margin-top: -8%;
    font-size: 0.8rem;
  }
  section.forum-info .top-buttons {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  section.lifehack-header h3 {
    width: 0%;
    font-size: 1.6rem;
  }
  section.lifehack-header h5 {
    margin-top: 8%;
    font-size: 0.8rem;
    margin-left: 0;
  }
  section.forum-info .top-buttons {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=chatsAndLikedPosts.css.map */